<table class="Table table-bordered">
  <thead> </thead>
  <tbody>
    <table class="Table table-hover">
      <thead>
        <tr>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ userScore }}</td>
          <p></p>
        </tr>
      </tbody>
    </table>

    <table class="Table table-hover">
      <thead>
        <tr>
          <th>Level</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ level }}</td>
          <p></p>
        </tr>
      </tbody>
    </table>


    <table class="Table table-hover">
      <thead>
        <tr>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ size }}</td>
          <p></p>
        </tr>
      </tbody>
    </table>
  </tbody>
</table>
